
nav {
    display: flex;
    justify-content: space-between; /* Pour aligner l'image à gauche et les onglets à droite */
    align-items: center; /* Pour aligner verticalement */
    padding: 10px; /* Ajoute un peu d'espace autour */
    background-color: #ffffff;
}

.image img {
    width: 200px; 
}

.onglets {
    display: flex;
    gap: 20px; 
    align-items: center;
    color: #747474;

}

#green_me{
    color: #00b39b;
}

.principale {
    display: flex;  /*celui-ci devient un conteneur flexible. */
    flex-direction: column; /* Empile les éléments verticalement */
    justify-content: center; /* Centre les éléments horizontalement */
    align-items: center; /* Centre les éléments verticalement */
    height: 40vh; /* Ajuste la hauteur selon la fenêtre */
}

.principale img {
    width: 40px; /* Ajuste la largeur de l'image */
    margin-bottom: 10px; /* Espace entre l'image et le texte */
}

#intro {
    display: flex;
    justify-content: center; /* Centre le texte horizontalement */
    text-align: center; /* Centre le texte à l'intérieur de son conteneur */
    color: #00b39b;
    font-size: 30px;
}

.paragraphes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 260px;
    padding-right: 280px;
    color: #747474;

}
