
nav {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px; /* Ajoute un peu d'espace autour */
    background-color: #ffffff;
}

.image img {
    width: 200px; 
}

.onglets {
    display: flex;
    gap: 20px; 
    align-items: center;
    color: #747474;

}

#green_me{
    color: #00b39b;
}

.principale {
    display: flex; 
    flex-direction: column; /*  verticalement */
    justify-content: center; /* horizontalement */
    align-items: center; /* Centre les éléments verticalement */

}

.principale img {
    width: 40px; 
    margin-bottom: 10px; 
}

#intro {
    display: flex;
    justify-content: center; 
    text-align: center; 
    color: #00b39b;
    font-size: 30px;
}

.paragraphes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 260px;
    padding-right: 280px;
    color: #747474;

}
